# Client-side environment variables for Netlify deployment
VITE_API_URL=https://somikoron-shop-server.vercel.app

# .env.example
MONGODB_URI=mongodb+srv://tasnimmuhammad51_db_user:00TUCmKVleeLI39s@shop.oinjnvt.mongodb.net/Shop?retryWrites=true&w=majority

MONGODB_DB=Shop

JWT_SECRET=your-super-secret-key-here-change-this-in-production

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
ADMIN_EMAIL=admin@somikoron.com

SSLCOMMERZ_STORE_ID=67330h6k8nqowq0t1
SSLCOMMERZ_STORE_PASSWORD=67330h6k8nqowq0t1@ssl
SSLCOMMERZ_IS_LIVE=false
SSLCOMMERZ_SUCCESS_URL=http://localhost:3000/payment/success
SSLCOMMERZ_FAIL_URL=http://localhost:3000/payment/fail
SSLCOMMERZ_CANCEL_URL=http://localhost:3000/payment/cancel


# admin Email : admin@somikoron.com
# Password: admin123

# admin@somikoron.com
# tasnem@example.com
# test@admin.com
# hujaifa@admin.com

# Test Payment Cards:
# Visa: 4242424242424242
# Mastercard: 5555555555554444
# Any Expiry: Future date
# CVV: 123


#  For Firebase JS SDK v7.20.0 and later, measurementId is optional

  apiKey: "AIzaSyCjNtPzruCXwsEemj0N-2PLrYK1hyysbsE",
  authDomain: "e-commerce-be504.firebaseapp.com",
  projectId: "e-commerce-be504",
  storageBucket: "e-commerce-be504.firebasestorage.app",
  messagingSenderId: "18259284663",
  appId: "1:18259284663:web:1fc594cc48ed77b53e3332",
  measurementId: "G-14ZVSS1SSF"
